<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Muthui Gakingo</h1>
		<p>Welcome to my 2nd Web App Challenge.</p>
		<P>Ihad an idea of building my own blog. Currently you're actually on the demo application right now. Cool stuff, right! </P>
		<p>If you would like to follow along as I learn more Ruby on Rails, find me on Instagram <a href="http://instagram.com/lx_muthui">lx_muthui</a> or on the web at <a href="http://alexmuthui35@gmail.com">alexmuthui35@gmail.com</a></p>
	</div>
</div>